<div class='card my-3'>
  <div class="card-body">
    <% unless comment.archived? %>
      <p>
        <strong>Commenter:</strong>
        <% author = User.find(comment.user_id) %>
        <%= author.user_name %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>

      <% if user_signed_in? and comment.user_id == current_user.id %>
        <div class='btn btn-outline-danger mb-3'>
          <%= link_to 'Delete Comment', [comment.article, comment], data: {
                        turbo_method: :delete,
                        turbo_confirm: 'Are you sure?'
                      } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
