<h1>Articles</h1>

<ul>

  <% @articles.each do |article| %>  <%# "<%" evaluate the enclosed Ruby code%>
    <li>
        <%# with the resources method it can be used article_path to link: article_path(article)%>
        <%= link_to article.title, article %> <%# "<%=" evaluate the enclosed Ruby code, and output the value it returns.%>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
