@import "bootstrap";
$color-blue:rgb(7, 92, 172);

h1, h2 {
  color: $color-blue;
}

a:link {
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.link-navbar:hover{
  opacity: 0.5;
}

.ul-articles:hover {
  border: 1px solid $color-blue;
}
